.Cards{
    height: 380px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid rgb(204, 198, 198);
    color: black;
    text-align:justify;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2) , -3px -3px 10px rgba(0,0,0,0.2);
}

.card-img{
    height: 50%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-color: antiquewhite;
}

.wishlist-icon{
    width: inherit;
    display: flex;
    justify-content:end;
    align-items: center;
    position: absolute;
    font-size:25px;
    margin-top: -30px;
    margin-left: -10px;
    color: white;
    
}

.card-description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: 0px 10px 10px 10px;
}
.card-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: 0px 10px 10px 10px;
}